/* CSS Document */


/* Insert background image stretched http://webdesign.about.com/od/css3/f/blfaqbgsize.htm */
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/*#screen {
	position: relative;
	z-index: 1;
}
*/
img#bg {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -999;
}

#header {
	margin-left:60px;
	font-size:40px;
}

#main {
	margin-left:100px;
	margin-right:100px;
}

#dock {
	position:absolute;
	width: 100%;
	background-image:url(pic/dock.png);
	background-repeat: no-repeat;
	background-position: left, bottom;
	bottom: 0%;
	border-color:#000;
	border-bottom: thick;
	
	height:158px;
}