/* CSS Document */


/* Insert background image stretched http://webdesign.about.com/od/css3/f/blfaqbgsize.htm */
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family:Verdana, Geneva, sans-serif;
}

h1 {
	font-size: 40px;
}

#bg {	/*Empty ID for the background to satisfy W3 verificator*/
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;	/*Put image totally to the back*/
}

.boxbg {
	position:absolute;
	background-image:url(pic/ybg.png);
	background-repeat:repeat-x;
	height: 100px;
	width: 150px;
	border: 2px solid #999;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	}

.boxbg img {
	padding-left: 10%;
}

#hub {
	left: 30%;
	top: 22%;
	width:300px;
}

#Mtopleft {
	left: 10%;
	top: 2%;
}

#Mtopright {
	left: 65%;
	top: 2%;
}

#Mbottomleft {
	left: 10%;
	top: 42%;
}

#Mbottomright {
	left: 65%;
	top: 42%;
}

.energyboxes {
	position:absolute;
	height: 97px;
	width: 200px;
	background-repeat:no-repeat;
	background-position:left;
	top: 59%;
	text-align:right;
	padding-top:50px;
	z-index: -200;
}

#bulb {
	background-image:url(pic/bulb.png);
	left: 6%;	
}

#coins {
	background-image:url(pic/coins.png);
	left: 34%;
}

#co2 {
	background-image:url(pic/co2.png);
	left: 62%;
}

.line {
	position: absolute;
	left: 5%;
	width:90%;
	height:auto;
}

#hline1 {top: 60%;}
#hline2 {top: 78%;}

#dock {
	position: absolute;
	z-index: -10;
	width: 854px;
	background-image:url(pic/dock_small.png);
	background-repeat: no-repeat;
	background-position: bottom;
	bottom: 10px;
	height: 100px;
/*	border: 1px solid #999; */
}

#dock img {
	float: left;
	padding-right: 100px;
	border: none;
	opacity:0.80;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

#dock img:hover {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */	
}

#dot {
	position: absolute;
	z-index:1;
	bottom: 3px;
	left: 26px;
}